.card-background-page {

    .avatar{
        width: 200px;
        height: 200px;
        padding: 5px;
        margin: auto;
    }

    .card-title{
        padding: 0px 10px 10px 10px;
        top: 36%;
        font-size: 25px;
        font-family: sans-serif;
        width: 100%;
        color: rgb(118, 47, 124);
        text-align: center;
    }
}